.third{
    padding: 4rem;
    padding-top: 10rem;
    /* border: 2px solid black; */
}

.deal{
    display: flex;
    justify-content: space-between;
    /* border: 2px solid black; */
    
}

.third .deal .deal_heading h2{
    text-align:left;
    padding-bottom: 2rem;
    font-size: 3rem;
}

.third .deal .deal_heading p{
    font-size: 1.4rem;
    color:rgb(75, 75, 75);
    width: 65%;
}


#btn2{
    background: rgb(255, 60, 0);
    color: #fff;
    font-size: 1.5rem;
    padding: 1.4rem;
    border:none;
    width: 100%;
    transition: .3s;
    


}

#btn2:hover{
    transform: scale(1.1);
    /* box-shadow: 0 0 2rem 1rem rgba(0,0,0,0.25); */
}


