.six{
    padding: 4rem;
    padding-top: 15rem;
}

.six .goodwill h2{
    text-align:left;
    padding-bottom: 2rem;
    font-size: 3rem;
    width: 40%;
    /* border: 2px solid red; */
}

.comments{
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    transition: .3s;
    grid-gap: 3rem;
    padding:1rem 0rem;
    box-sizing: border-box;
}

.six .comments .comment .profile img{
    width: 100%;
    height: auto;
    max-width: 50px;
}

.comments .comment {
    position: relative;
    overflow: hidden;
    /* box-shadow:0rem 0rem 1rem 1rem rgba(0,0,0,.2);
    box-shadow: 0 0 4rem 1rem rgba(0,0,0,0.25); */
    transition: .3s;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    border-radius: 1rem;
    /* border: 1px solid rgb(161, 161, 161); */
    padding: 4rem;
    transition: .05s;

}

.six .comments .comment .stars{
    color: orange;
    font-size: 1.3rem;
    padding-bottom: 2rem;
}

.six .comments .comment p{
    color: rgb(48, 48, 48);
    font-size: 1.3rem;
    padding-right: 4rem;
    /* border: 1px solid red; */
    text-align: justify;
}


.six .comments .card1:nth-child(1){
    box-shadow:1rem 2rem 3rem rgba(53, 25, 25, 0.2);
}


.six .comments .card2:nth-child(2){
    box-shadow:1rem 2rem 3rem rgba(53, 25, 25, 0.2);
}

.six .comments .card3:nth-child(3){
    box-shadow:1rem 2rem 3rem rgba(53, 25, 25, 0.2);
}


.six .comments .card1:nth-child(1):hover{
    
    transform: scale(1.05);
    box-shadow: 0 0 4rem 1rem rgba(0,0,0,0.25);

}



.six .comments .card2:nth-child(2):hover{
    transform: scale(1.05);
    box-shadow: 0 0 4rem 1rem rgba(0,0,0,0.25);
}

.six .comments .card3:nth-child(3):hover{
    transform: scale(1.05);
    box-shadow: 0 0 4rem 1rem rgba(0,0,0,0.25);
}

.six .comments .comment .profile{
    /* border: 1px solid red; */
    padding-top: 3rem;
    display: flex;
    justify-content: space-between;
}

.six .comments .comment .profile .dp{
    /* border: 1px solid red; */
    padding-right: 30%;
    padding-top: 2%;
}

.six .comments .comment .profile img{
    /* border: 2px solid red; */
    border-radius: 50%;
}


@media(max-width:548px){
    .six .comments .comment{
        width: 90%;
        margin-left: 5%;
    }

    .six .comments .comment .profile .dp{
        padding-right: 50%;
    }
}



/* ------------------------Seven----------------------- */
.seven {
    display: flex;
    justify-content: space-between;
    overflow-wrap: normal;
    padding-right: 4rem;
    padding-top: 5rem;
    padding-bottom: 10rem;
}

.seven .call p{
    font-size: 1.3rem;
    width: 100%;
    /* border:1px solid red; */
    padding-right: 8rem;
    padding-left: 25rem;
    color: rgb(70, 70, 70);
}

.seven .call p a{
    color: rgb(0, 140, 255);
}



/* ----------------------------Eight---------------------- */
.eight{
    /* padding: 20rem 4rem; */
    padding-top: 20rem;
    padding-bottom: 5rem;
    /* align-items: center; */
    /* border: 1px solid red; */
    background: rgba(236, 236, 236, 0.158);

}

.eight h3{
    font-size: 3.5rem;
    text-align: center;
    /* border: 1px solid red; */
}

.eight h4{
    font-size: 1.7rem;
    text-align: center;
    padding-top: 1rem;
    font-weight: normal;
    /* border: 1px solid red; */
}

.eight .email{
    /* border: 1px solid rgb(48, 48, 48); */
    display: flex;
    justify-content: center;
    padding: 8rem;
    
}

.eight .email #btn4{
    background: rgb(255, 60, 0);
    color: #fff;
    font-size: 1.5rem;
    padding: 1.4rem;
    border:none;
    /* width: 100%; */
    margin-left: -9rem;
    
}

#btn4:hover{
    transform: scale(1.1);
}
.eight .email #mail{
    padding: 1rem;
    /* border: 1px solid red; */
    width: 50%;
    box-shadow: 0 .5rem .5rem .1rem rgba(0, 0, 0, 0.164);
    border: none;
}

hr{
    color: rgba(173, 173, 173, 0.342);
}


.eight footer{
    text-align: center;
    padding-top: 10rem;
    padding-left: 20rem;
    padding-right: 20rem;
    font-size: 1.3rem;
}



